---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LinkCard from "../../components/card/LinkCard.astro";
import BlackCol from "../../components/card/BlackCol.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <BlackCol>
    <div class="tags">
      {
        tags.map((tag) => (
          <p class="tag">
            <LinkCard tag={tag} />
          </p>
        ))
      }
    </div>
  </BlackCol>
  <style>
    .tags {
      display: flex;
      flex-wrap: wrap;
    }

    .tag {
      margin: 0.25em;
      margin-right: 1rem;
      border: solid 2px black;
      border-radius: 0.5em;
      padding: 0.5em 1em;
      font-size: 1.15em;
      background-color: #f8fcfd;
    }
    :global(.dark) .tag {
      background: #000;
      border: white 2px solid;
    }
  </style>
</BaseLayout>
