---

---

<div class="black">
  <slot />
</div>
<style>
  .black {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 50rem;
    /* height: 20rem; */
    padding: 1.5rem;
    background-color: white;
    margin: 1.5rem 0;
    border-radius: 2rem;
  }
  :global(.dark) .black {
    background-color: rgb(54, 50, 50);
  }
  @media (max-width: 960px) {
    .black {
      width: auto;
    }
  }
</style>
