---
const { tags } = Astro.props;
---

{tags.map((tag) => <a href={`/tags/${tag}`}>{tag}</a>)}
<style>
  a {
    background-color: rgb(185 245 255);
    /* border: 1px solid black; */
    border-radius: 5px;
    color: rgb(42, 52, 194);
    display: inline-block;
    text-decoration: none;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem;
    margin: 0.2rem 0.3rem 0.2rem 0;
  }
  :global(.dark) a {
    background-color: white;
    color: #420808;
  }
</style>
