---
const { platform } = Astro.props;
---

<a href={`https://www.${platform}.com`}>{platform}</a>
<style>
  a {
    display: inline-block;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #9b76d4;
    text-decoration: none;
  }
</style>
